html {
	height: 100%;
}

body {
	font: 12px/18px Calibri, Arial, sans-serif;
	height: 100%;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.wrapper {
	min-width: 600px;
	max-width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0 0 100px;
}
.center {
	min-width: 600px;
	max-width: 1100px;
	margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 50px;
	background: rgb(238, 238, 238);
}
.header .center div:first-child {
	width: auto;
	height: 50px;
	float: left;
}
.header .center div:first-child p {
	color: rgb(118, 118, 118);
	float: left;
	padding-top: 25px;
	font-family: Calibri;
	font-size: 16px;
	display: inline-block;
	height: 50px;
}
.header .center div:first-child img {
	height: 50px;
	float: left;
	margin-top: 0px;
}
.header .center div:last-child {
	height: 50px;
	width: 300px;
	float: right;
}

.header .center div:last-child p {
	color: rgb(118, 118, 118);
	display: inline-block;
	font-size: 16px;
	float: left;
	margin: 10px 5px 0 5px;;
}
.header .center div:last-child img {
	float: left;
	margin: 15px 0 0 0;
}

/* Navigation
-----------------------------------------------------------------------------*/
.wrapper > nav {
	height: 50px;
	width: 100%;
	background-color: rgb(85, 85, 85);
}

.wrapper > nav  ul {
	list-style-type: none;
}

.wrapper > nav  li{
	display: inline-block;
	float: left;
	height: 50px;
	font-size: 16px;
	padding: 15px 15px 0 15px;
}
.wrapper > nav  a {
	color: rgb(230, 230, 230);
}
.main .wrapper .nav_main,
.kat .wrapper .nav_kat,
.buy .wrapper .nav_buy,
.about .wrapper .nav_about,
.news .wrapper .nav_news,
.new_things .wrapper .nav_things {
	border-bottom: 3px solid rgb(255, 255, 255);
}
.wrapper > nav .nav_things {
	background-color: rgb(18, 171, 43);
}

/* Content
-----------------------------------------------------------------------------*/

.content figure:first-child img {
	width: 100%;
	margin: 20px 0 20px 0;
}
.content figure:nth-child(2) img:first-child{
	width: 32%;
	float: left;
}
.content figure:nth-child(2) img:nth-child(2) {
	width: 32%;
	margin: 0 auto;
}
.content figure:nth-child(2) img:last-child{
	width: 32%;
	float: right;
}
.content figure:nth-child(2):before,
.content figure:nth-child(2):after,
.products_types:after,
.products_types:before {
	content: "";
	display: table;
}
.content figure:nth-child(2):after {
	clear: both;
}
.content p {
	font-size: 30px;
	display: inline-block;
	margin: 10px auto;
}
hr {
	color: rgb(227, 227, 227);
	size: 2px;
}
.content p:after {
	clear: both;
}


.products_types {
	background-color: rgb(240, 240, 240);
	height: auto;
	padding: 20px 10px;
}
.products_types figure {
	background: url(ico/intop.png);
	background-color: rgb(255, 255, 255);
	width: 220px;
	height: 300px;
	float: left;
	margin: 20px;
}
.products_types figure figcaption{
	color: rgb(0, 0, 0);
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
}
.products_types figure img {
	width: 70%;
	margin: 10px 20px;
}
.products_types:after {
	clear: both;
	content: "";
}



.brands article img {
	display: inline-block;
	width: 15%;
	float: left;
}
.brands  {
	margin-bottom: 200px;
	position: relative;
	
}
.brands p {
	font-size: 30px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -90px auto 0;
	height: 90px;
	position: relative;
	width: 100%;
	background-color: rgb(56, 56, 56);
	
}
.footer nav:first-child {
	background-color: rgb(26, 26, 26);
	height: 40px;
	margin-top: 10px;
	float: left;
}
.footer nav:last-child {
	margin-top: 60px;
	height: 20px;
}

.footer nav  ul {
	list-style-type: none;
}

.footer nav:first-child   li {
	display: inline-block;
	float: left;
	height: 50px;
	font-size: 14px;
	padding: 10px 15px 0 15px;
}
.footer nav:last-child   li {
	display: inline-block;
	float: left;
	height: 20px;
	font-size: 12px;
	padding: 0 15px;
	border-right: 1px solid rgb(137, 137, 137);
}
.footer nav:first-child   a {
	color: rgb(197, 197, 197);
}
.footer nav:last-child   a {
	color: rgb(137, 137, 137);
	text-decoration: underline;
}
.footer_wrapper {
	float: left;
}
.footer > div:last-child {
	height: 90px;
	float: right;

}
.footer div:last-child p {
	color: rgb(255, 255, 255);
	font-size: 16px;
	float: left;
	margin: 25px 10px 0 0;
}
.footer div:last-child img {
	margin: 30px 0 0 0;
}







