html {
	height: 100%;
}
body {
	font: 12px/18px Calibri, Arial, sans-serif;
	height: 100%;
}
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.wrapper {
	min-width: 360px;
	max-width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.center {
	min-width: 360px;
	max-width: 1100px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: auto;
	min-height: 50px;
	background: rgb(238, 238, 238);
}
.header:after,
.header:before { 
	content: "";
	display: table;
}
.header:after{
	clear: both;
}
.header .center div:first-child {
	width: auto;
	min-width: 400px;
	height: 50px;
	float: left;
	display: block;
}
.header .center div:first-child p {
	color: rgb(118, 118, 118);
	float: left;
	font-size: 16px;
	display: inline-block;
	height: 30px;
	border-left: 1px solid rgb(118, 118, 118);
	padding-left: 5px;
	padding-top: 10px;
	margin-top: 15px;
}
.header .center div:first-child img {
	height: 50px;
	float: left;
	margin-top: 0px;
}
.header .center div:last-child {
	height: 50px;
	width: 300px;
	min-width: 300px;
	float: right;
	display: block;
}
.header .center div:last-child p {
	color: rgb(118, 118, 118);
	display: inline-block;
	font-size: 18px;
	float: left;
	margin: 15px 5px 0 5px;;
}
.header .center div:last-child > img{
	float: left;
	margin: 20px 0 0 0;
}
.header .center div:last-child >a img {
	float: right;
	margin: 10px 0 0 0;
}


@media screen and (max-width: 715px) {
	.header .center div:first-child {
		float: none;
	}	

	.header .center div:last-child {
		float: none;
		width: 300px;
		min-width: 300px;
		margin-bottom: 10px;
	}
}



/*




 {
	.header .center div:first-child {
	float: none;
	width: 95%;
	margin: 0 auto;
}
.header .center div:last-child {
	width: 400px;
	min-width: 300px;	
	float: none;
	margin: 0 auto;
}
.header .center:after,
.header .center:before {
	content: "";
	display: table;
}
.header .center:after {
	clear: both;
}
.header .center {
	height: 100px;
	background: rgb(238, 238, 238);
}

}

@media screen and (max-width: 460px) {

	.header .center div:first-child {
	float: none;
	width: 90%;
	margin: 0 auto;
}
.header .center div:last-child {
	width: 90%;
	float: none;
	margin: 0 auto;
}
.header .center div:first-child img {
	height: 45px;
}

.header .center {
	height: 100px;
	background: rgb(238, 238, 238);
}
}



/* Ìåíþ íà bootstrap--------------------------------------------------------------------*/
/*.navbar {
	width: 100%;
	background-color: rgb(85, 85, 85);
	border-radius: 0;
}
.wrapper nav .navbar-collapse ul li {
	padding: 0;
	font: 16px Calibri, Arial, sans-serif;
	text-transform: uppercase;
	background-color: rgb(85, 85, 85);
	color: rgb(230, 230, 230);
}

.dropdown-menu {
	padding: 0;
}
.dropdown-toggle {
	padding-bottom: 0;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
	border-color: rgb(85, 85, 85);
	background-color: rgb(85, 85, 85);
	color: rgb(230, 230, 230);
}

.wrapper nav .navbar-collapse ul li a{
	color: rgb(230, 230, 230);
}

.wrapper nav .navbar-collapse ul .dropdown a:hover {
	color: #333;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: rgb(230, 230, 230);
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: rgb(18, 171, 43);
	background-color: rgb(85, 85, 85);
}
.wrapper .nav_main,
.wrapper .nav_kat,
.wrapper .nav_buy,
.wrapper .nav_about,
.wrapper .nav_about,
.wrapper .nav_news {
	border-bottom: 3px solid rgb(85, 85, 85);
}

.main .wrapper .nav_main,
.kat .wrapper .nav_kat,
.buy .wrapper .nav_buy,
.about .wrapper .nav_about,
.discounts .wrapper .nav_about,
.news .wrapper .nav_news {
	border-bottom-color: rgb(255, 255, 255);
	background-color: rgb(85, 85, 85);
}
.wrapper .nav_about {
	border-bottom-color: rgb(85, 85, 85);
}
.wrapper .nav_about:hover {
	border-bottom-color: rgb(18, 171, 43);
}
.wrapper .nav_main:hover,
.wrapper .nav_kat:hover,
.wrapper .nav_buy:hover,
.wrapper .nav_news:hover {
	border-bottom-color: rgb(18, 171, 43);
}

.wrapper .nav_main a:hover,
.wrapper .nav_kat a:hover,
.wrapper .nav_buy a:hover,
.wrapper .nav_about:hover,
.wrapper .nav_news a:hover,
.wrapper .nav_things a:hover {
	color: rgb(230, 230, 230) !important;
}

.wrapper > nav .nav_things a{
	background-color: rgb(18, 171, 43);
	border-bottom: 3px solid rgb(18, 171, 43);
}
.wrapper > nav .nav_things a:hover {
	background-color: rgb(18, 171, 43);
}
.navbar:after,
.navbar:before,
.navbar-nav:after,
.navbar-nav:before  {
	content: "";
	display: table;
}
.navbar:after,
.navbar-nav:after{
	clear: both;
}
*/
/* Ìåíþ ÁÅÇ bootstrap--------------------------------------------------------------------*/
.navbar {
	width: 100%;
	background-color: rgb(85, 85, 85);
	min-height: 50px;
	height: auto;
}
.dropdown,
.dropdown-inside {
	list-style-type: none;
	padding: 0;
}

.dropdown .dropdown-top { 
	position: relative; 
}
.nav_menu a,
.dropdown .dropdown-top a {
	padding: 15px 15px 0 15px;
	display: block;
	font: 16px Calibri, Arial, sans-serif;
	text-transform: uppercase;
	color: rgb(230, 230, 230);
	text-decoration: none;
}

.nav_menu,
.dropdown .dropdown-top {
	display: inline-block;
	float: left;
	min-height: 50px;
	height: auto;
}
 .dropdown-inside {
	background-color: rgb(85, 85, 85);
	display: none;
	width: 150px;
	height: 100px;
	margin-top: 16px;
	position: absolute;
	z-index: 99999;
 }
 .navbar .nav_about {
	width: 95px;
	height: auto;
 }
 .nav_about .caret {
	border: 5px solid rgba(230,230,230,0);
	border-top: 5px solid rgb(230,230,230);
	box-sizing: border-box;
	display: inline-block;
	height: 8px;
	width: 8px;
	float: right;
	margin-top: 8px;
 }
.dropdown .dropdown-inside a{ 
	padding: 7px 10px;
}
.dropdown .dropdown-inside a:hover { 
	color: rgb(18, 171, 43);
}
.wrapper .nav_main,
.wrapper .nav_kat,
.wrapper .nav_buy,
.wrapper .nav_about,
.wrapper .nav_news {
	border-bottom: 3px solid rgb(85, 85, 85);
}
.main .wrapper .nav_main,
.kat .wrapper .nav_kat,
.buy .wrapper .nav_buy,
.about .wrapper .nav_about,
.discounts .wrapper .nav_about,
.brands_page .wrapper .nav_about,
.news .wrapper .nav_news {
	border-bottom-color: rgb(255, 255, 255);
}
.wrapper .nav_main:hover,
.wrapper .nav_kat:hover,
.wrapper .nav_buy:hover,
.wrapper .nav_about:hover,
.wrapper .nav_news:hover {
	border-bottom-color: rgb(18, 171, 43);
}
.wrapper .nav_things {
	background-color: rgb(18, 171, 43);
}


@media screen and (max-width: 800px) {
	.navbar {
		background-color: rgb(85, 85, 85);
		min-height: 50px;
		height: auto;
		padding-bottom: 3px;
	}
	.dropdown .dropdown-top {
		display: block;
		float: none;
		min-height: 40px;
	}
	.dropdown-inside {
		width: 100%;
		padding-left: 20px;
		position: relative;
		height: auto;
	}
	.dropdown-inside li {
		height: 30px;
	}
	.wrapper .nav_menu {
		display: block;
		float: none;
	}
	.dropdown_body {
		display: none;
	}
	.nav_menu .nav_about {
		height: 200px;
		display: block;
	 }
	.navbar .nav_about {
		width: 100%;
	}
	.wrapper .nav_main:hover,
	.wrapper .nav_kat:hover,
	.wrapper .nav_buy:hover,
	.wrapper .nav_about:hover,
	.wrapper .nav_news:hover {
		border-bottom-color: rgb(85, 85, 85);
	}
	.wrapper .nav_main a:hover,
	.wrapper .nav_kat a:hover,
	.wrapper .nav_buy a:hover,
	.wrapper .nav_about a:hover,
	.wrapper .nav_news a:hover {
		color: rgb(18, 171, 43);
	}
	.main .wrapper .nav_main:hover,
	.kat .wrapper .nav_kat:hover,
	.buy .wrapper .nav_buy:hover,
	.about .wrapper .nav_about:hover,
	.discounts .wrapper .nav_about:hover,
	.news .wrapper .nav_news:hover {
		border-bottom-color: rgb(255, 255, 255);
	}
}









/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background-color: rgb(56, 56, 56);
	height: auto;
	min-height: 90px;
}
.footer_wrapper {
	float: left;
	min-height: 90px;
	height: auto;
	width: auto;
	min-width: 590px;	
}
.footer:after,
.footer:before {   /*Убирает белый фон под футером, на всякий случай */
	content: "";
	display: table;
}
.footer:after{
	clear: both;
}
.footer_wrapper aside {
	display: block;
}
.footer_wrapper aside ul li{
	display: inline-block;
	float: left;
}
.footer_wrapper aside:first-child {
	background-color: rgb(26, 26, 26);
	height: 40px;
	margin-bottom: 10px;
}
.footer_wrapper aside:first-child a {
	color: rgb(197, 197, 197);
	font-size: 14px;
}
.footer_wrapper aside:first-child li {
	padding: 10px 15px 0 15px;
}
.footer_wrapper aside:last-child a {
	color: rgb(137, 137, 137);
	text-decoration: underline;
	padding: 0 10px 0 10px;
	border-left: 1px solid rgb(137, 137, 137);
}
.footer .footer_wrapper aside:last-child ul li:first-child a {
	border-left: none;
}



.phone_number {
	float: right;
	min-height: 90px;
	height: auto;
	width: auto;
	min-width: 300px;
}
.phone_number div:first-child {
	float: left;
	width: auto;
	min-width: 170px;
	padding: 30px 0 0 0;
}
.phone_number div:first-child p {
	color: rgb(238, 238, 238);
	display: inline-block;
	font-size: 18px;
	float: left;
}
.phone_number div:first-child img {
	display: inline-block;
	float: right;
	padding-top: 3px;
}
.phone_number div:last-child {
	float: right;
	padding: 25px 0 0 0;
}

.main .footer_wrapper .nav_main a,
.kat .footer_wrapper .nav_kat a,
.buy .footer_wrapper .nav_buy a,
.about .footer_wrapper .nav_about a,
.news .footer_wrapper .nav_news a,
.new_things .footer_wrapper .nav_things a {
	color: rgb(211,46,46);
}

.footer_wrapper .nav_main a:hover,
.footer_wrapper .nav_kat a:hover,
.footer_wrapper .nav_buy a:hover,
.footer_wrapper .nav_about a:hover,
.footer_wrapper .nav_news a:hover,
.footer_wrapper .nav_things a:hover,
.footer_wrapper .nav_bonus a:hover,
.footer_wrapper .nav_guarantee a:hover,
.footer_wrapper .nav_back a:hover,
.footer_wrapper .nav_about_comp a:hover,
.footer_wrapper .nav_brands a:hover{
	color: rgb(211,46,46);
	text-decoration: none;
	-webkit-transition: color 2s;
	transition: color 0.5s;
}
@media screen and (max-width: 930px) {
	
	.phone_number div:first-child p {
		font-size: 14px;
		
	}
	.phone_number {
		width: auto;
		min-width: 200px;
	}
	.phone_number div:first-child {
		width: auto;
		min-width: 150px;
	}
}
@media screen and (max-width: 820px) {
	.footer_wrapper {
		float: none;
		width: 100%;	
	}
	.phone_number {
		width: 60%;
		margin: 0 auto;
		float: left;
		height: 50px;
		min-height: 50px;
		margin-left: 20px;
	}
	.phone_number div:first-child {
		padding-top: 10px;
	}
	.phone_number div:last-child {
		padding-top: 10px;
	}
}

@media screen and (max-width: 608px) {
	.footer_wrapper aside:first-child {
		background-color: rgb(26, 26, 26);
		height: 60px;
		margin-bottom: 10px;
	}
	.footer_wrapper {
		min-width: 360px;	
	}
	
}

















