/* Большая фотография на главной странице------------------------------------------------------------- */
.content article:first-child img {
	width: 100%;
	margin: 20px 0 20px 0;
}
/* Маленькие фотки снизу ---------------------------------------------------------*/
.small_photo figure {
	width: 33%;
	float: left;
	padding: 5px;
	margin-bottom: -50px;
}
.small_photo figure img {
	width: 100%;
}
.small_photo figure figcaption {
	position: relative;
	padding: 15px 20px 0 20px;
}
.small_photo figure figcaption a {
	color: rgb(255, 255, 255);
	font-size: 17px;
}
.small_photo figure:nth-child(1) figcaption {
	background-color: rgba(203, 84, 86, 0.9);
	width: auto;
	max-width: 120px;
	height: 48px;
	bottom: 100px;
	float: right;
	margin-right: 20px;
	border: 1px solid rgb(255, 255, 255); 
	outline: 1px solid rgba(203, 84, 86, 0.9); 
}
.small_photo figure:nth-child(2) figcaption {
	background-color: rgba(81, 57, 40, 0.8);
	width: auto;
	max-width: 120px;
	height: 48px;
	bottom: 100px;
	margin: 0 auto;
	padding-left: 25px;
	border: 1px solid rgb(255, 255, 255); 
	outline: 1px solid rgba(81, 57, 40, 0.8); 
}
.small_photo figure:nth-child(3) figcaption {
	background-color: rgba(203, 84, 86, 0.8);
	width: auto;
	max-width: 180px;
	height: 48px;
	bottom: 100px;
	float: left;
	margin-left: 20px;
	border: 1px solid rgb(255, 255, 255); 
	outline: 1px solid rgba(203, 84, 86, 0.9); 
}
.small_photo:after,
.small_photo:before {
	content: "";
	display: table;
}
.small_photo:after {
	clear: both;
}
.small_photo figure:nth-child(1) figcaption:hover,
.small_photo figure:nth-child(2) figcaption:hover,
.small_photo figure:nth-child(3) figcaption:hover {
	box-shadow: 0 0 5px 3px rgb(100,100,100);
}

/* текст: Вся обувь, Бренды, Новости ------------------------------------------------------------ */
.text_in_center{
	margin: 10px 0;
}
.text_in_center p {
	font-size: 30px;
	display: block;
	position: relative;
	top: 25px;
	background-color: rgb(255, 255, 255);
	width: 200px;
	height: 30px;
	margin: 0 auto;
	text-align: center;
}

.text_in_center hr {
	color: rgb(227, 227, 227);
	size: 2px;
	margin-bottom: 35px;
}
.text_in_center:after {
	clear: both;
}

/* Виды обуви, картинки на главной странице--------------------------------------------------------------- */
.products_types {
	background-color: rgb(240, 240, 240);
	height: auto;
	padding: 20px 0;
}
.products_types figure {
	background: url(../ico/intop.png) top center no-repeat;
	background-color: rgb(255, 255, 255);
	width: 220px;
	height: 300px;
	float: left;
	margin: 20px;
}
.products_types .center figure:hover{
	box-shadow: 0 0 10px 1px rgb(188,188,188);
}
.products_types figure figcaption{
	color: rgb(0, 0, 0);
	font-size: 20px;
	position: relative;
	top: 30px;
	background-color: rgb(255, 255, 255);
	z-index: 333;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 80px;
}
.products_types figure hr {
	width: 170px;
	position: relative;
	top: 15px;
	color: rgb(227, 227, 227);
}
.products_types figure img {
	width: 70%;
	display: block;
	margin: 10px auto;
}
.products_types:after {
	clear: both;
	content: "";
}
/* Исправляет баги с плавающей разметкой -------------------------------------------------------*/
.products_types:after,
.products_types:before {
	content: "";
	display: table;
}

/* Список брендов внизу страницы--------------------------------------------------------------------- */
.brands article img {
	display: inline-block;
	width: 13%;
	float: left;
	margin: 0 18px;
}
.brands  {
	margin-bottom: 20px;
	position: relative;
	clear: both;
}
.brands p {
	font-size: 30px;
}
.brands:after,
.brands:before {
	content: "";
	display: table;
}
.brands:after {
	clear: both;
}


/* Лента новостей -------------------------------------------------------------------------------*/
.news_list {
	padding-right: 15px;
	margin-bottom: 20px;
}
.news_list img {
	float: left;
	height: 210px;
	margin-right: 25px;
}
.news_list h2 {
	font-size: 30px;
	margin: 25px 5px;
	color: rgb(66, 66, 66);
}
.news_list p {
	font-size: 16px;
	text-align: justify;
	color: rgb(66, 66, 66);
}
.news_list time {
	font-size: 14px;
	float: right;
	margin: 25px 5px 0 0;
	color: rgb(150, 150, 150);
}
.news_list a {
	color: rgb(197,109,102);
}
.news_list hr {
	color: rgb(227, 227, 227);
	margin-top: 10px;
}
.news_list:after,
.news_list:before {
	content: "";
	display: table;
}
.news_list:after {
	clear: both;
}


/* Отдельная новость -------------------------------------------------------------------------------*/
.separate_news {
	margin: 40px 0;
}
.separate_news img{
	float: none;
	clear: right;
}
.separate_news h2 {
	font-size: 36px;
	color: rgb(66, 66, 66);
}
.separate_news time {
	font-size: 16px;
	float: right;
	color: rgb(150, 150, 150);
}
.separate_news hr {
	color: rgb(227, 227, 227);
	margin-top: 15px;
}
.separate_news p {
	display: block;
	float: left;
	clear: both;
	color: rgb(0, 0, 0);
	margin: 10px 0;
	font: 16px Calibri, Arial, sans-serif;
}
.news .separate_news .border_paragraph {
	background-color: rgb(248, 248, 248);
	border: 1px solid rgb(239, 239, 239);
	font-size: 18px;
	padding: 20px;
}

.separate_news:after,
.separate_news:before {
	content: "";
	display: table;
}
.separate_news:after {
	clear: both;
}


/* Описание брендов -------------------------------------------------------------------------------*/
.brand_description article:first-child img {
	width: 140px;
	height: 70px;
	float: left;
	margin: 10px;
}
.brand_description article:first-child:after {
	content: "";
	display: table;
	clear: both;
}
.brand_description article:last-child {
	margin-bottom: 100px;
}
.brand_description article:last-child h2 {
	font-size: 30px;
	color: rgb(47, 47, 47);
	margin: 30px 0;
}
.brand_description article:last-child p {
	font-size: 16px;
	color: rgb(47, 47, 47);
	margin: 20px 0;
}
.brand_description article:last-child strong {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}


/* Страница "Где купить" -------------------------------------------------------------------------------*/

.where_to_buy {
	height: auto;
}
.where_to_buy figure {
	float: left;
	width: 480px;
	margin: 30px 10px;
	border: 1px solid rgb(239,239,239);
	padding: 0 0 20px 0;
}
.where_to_buy figure img {
	width: 100%;
	margin-bottom: 10px;
}
.where_to_buy figure figcaption {
	text-align: center;
	font-family: inherit;
	font-size: 14px;
}
.where_to_buy figure figcaption p:first-child {
	font-size: 18px;
}
.where_to_buy figure figcaption p:last-child {
	color: rgb(175,21,0);
	text-decoration: underline;
}
.where_to_buy hr {
	width: 250px;
	color: rgb(227,227,227);
}

/* Каталог товаров-------------------------------------------------------------------------------*/

.kat section aside {
	width: 25%;
	float: left;
	background-color: red;
	min-height: 100%;
	margin-top: 20px;
}
.catalog {
	padding-left: 27%;
	min-height: 100%;
}
.catalog figure {
	width: 220px;
	height: 300px;
	float: left;
	margin: 20px;
}
.catalog figure:hover {
	box-shadow: 0 0 10px 1px rgb(188,188,188);
}
.catalog figure img {
	display: block;
	margin: 0 auto;
	width: 70%;
}
.catalog figure figcaption {
	text-align: center;
	font-size: 16px;
}
.catalog figure figcaption p:last-child {
	display: inline-block;
	background-color: rgb(240,240,240);
	font-size: 18px;
	padding: 5px 20px;
	border-radius: 15px;
	margin-top: 5px;
}





