/* HEADER ---------------------------------------------------------------------------------*/
.header .center div:first-child {
	float: none;
	width: 90%;
	margin: 0 auto;
}
.header .center div:last-child {
	width: 90%;
	float: none;
	margin: 0 auto;
}
.header .center div:first-child img {
	height: 45px;
}

.header .center {
	height: 100px;
	background: rgb(238, 238, 238);
}

/* NAVIGATION ----------------------------------------------------------------------------------*/
/*
.wrapper > nav {
	margin-top: 50px;
	height: 100px;
	margin-bottom: 20px;
	background-color: rgb(85, 85, 85);
}
*/
/* Убирает слайдер ------------------------------------------------------------------------------*/
.content article:first-child img,
.carousel {
	display: none;
}
/* Но оставляет картинку на странице с акциями, у которой тот же класс*/
.discounts .content article img {
	width: 100%;
	display: block;
}


/* Маленькие фотки снизу слайдера ---------------------------------------------------------*/
.small_photo figure figcaption a {
	font-size: 14px;	
}
.small_photo figure {
	width: 70%;
	float: none;
	padding: 5px;
	margin: 5px auto;
	margin-bottom: -40px;
}
.small_photo figure figcaption {
	position: relative;
	display: block;		
}
.small_photo figure:nth-child(1) figcaption,
.small_photo figure:nth-child(2) figcaption,
.small_photo figure:nth-child(3) figcaption {
	margin: 0 auto;
	float: none;
	width: 200px;
}

/* Виды обуви, картинки на главной странице--------------------------------------------------------------- */
.products_types figure {
	float: none;
	margin: 10px auto;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background-color: rgb(56, 56, 56);
	min-height: 150px;
}

.phone_number {
	width: 80%;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
}
.phone_number,
.footer_wrapper {
	float: none;
	clear: both;
}
.fb {
	float: right;
	width: 40px;
	padding-top: 20px;
}
.footer_num {
	width: auto;	
	float: left;
	padding-top: 20px;
	margin-left: 15px;
}
.footer_num p {
	color: rgb(238, 238, 238);
	font-size: 16px;
	display: inline-block;
}


/* Страница "Где купить" -------------------------------------------------------------------------------*/

.where_to_buy {
	height: auto;
}
.where_to_buy figure {
	float: none;
	width: 355px;
	margin: 10px auto;
	border: 1px solid rgb(239,239,239);
	padding: 0 0 20px 0;
}

/* Отдельная новость -------------------------------------------------------------------------------*/

.separate_news img{
	float: none;
	width: 100%;
}
.separate_news h2 {
	font-size: 32px;
	line-height: 100%;
}
.separate_news {
	padding: 10px;
}

/* Описание брендов -------------------------------------------------------------------------------*/
.brand_description article:last-child {
	margin-bottom: 10px;
	padding: 15px;
}


/* Каталог товаров-------------------------------------------------------------------------------*/
.kat section aside:first-child {
	width: 100%;
	float: none;
}
.catalog {
	padding-left: 0;
	width: 100%;
	float: none;
}

/*Модальное окно-------------------------------------------------------------------------------------------------------*/

.modal-body {
	width: 70%;
	height: auto;
	min-height: 50px;
	min-height: 500px;
	background-color: #fff;
	margin: 0 auto;
	border-radius: 30px;
}
.modal-body figure {
	height: auto;
	min-height: 50px;
	width: 90%;
	float: none;
}
.modal-body figure img{
	width: 60%;
	float: none;
	margin: 0 auto;
}
.modal-body article {
	height: auto;
	width: 90%;
	float: none;
}
.modal-body article aside {
	width: 100%;
	margin-top: 10px;
}
.modal-body > aside {
	width: 100%;
}
.modal-body > aside div  {
	display: none;
}
.modal-body > aside button {
	display: block;
	margin: 10px auto -40px;
	float: none;
	width: 100px;
}
.modal-body article aside p:first-child {
	float: left;
	color: rgb(99,99,99);
}
.modal-body article aside p:last-child {
	float: right;
	background-color: rgb(240,240,240);
	padding: 15px;
	font-size: 40px;
	color: black;
}
.modal-body article aside p:last-child span {
	font-size: 18px;
	position: relative;
	bottom: 20px;
}
.modal-body article h2 {
	font-size: 30px;
	margin-top: 30px;
}
.modal-body article hr {
	margin: 10px 0 5px;
}
table  {
	width: 100%;
	margin: 30px auto 0 auto;
}
table tr {
	border-bottom: 1px solid rgb(227,227,227);
}

