/* HEADER ---------------------------------------------------------------------------------*/
.header .center div:first-child {
	float: none;
	width: 95%;
	margin: 0 auto;
}
.header .center div:last-child {
	width: 70%;
	min-width: 300px;
	float: none;
	margin: 0 auto;
}
.header .center div:first-child img {
	height: 45px;
}

.header .center {
	height: 100px;
	background: rgb(238, 238, 238);
}

/* NAVIGATION ----------------------------------------------------------------------------------*/
.wrapper > nav {
	margin-top: 50px;
	height: 100px;
	margin-bottom: 20px;
	background-color: rgb(85, 85, 85);
}

/* Убирает слайдер ------------------------------------------------------------------------------*/
.content article:first-child img {
	display: none;
}
/* Но оставляет картинку на странице с акциями, у которой тот же класс*/
.discounts .content article img {
	width: 100%;
	display: block;
}


/* Маленькие фотки снизу слайдера ---------------------------------------------------------*/
.small_photo figure figcaption a {
	font-size: 14px;
	
}
.small_photo figure {
	width: 70%;
	float: none;
	padding: 5px;
	margin: 5px auto;
}
.small_photo figure figcaption {
	position: relative;
	padding: 10px 15px 0 15px;
	
}
.small_photo figure:nth-child(1) figcaption,
.small_photo figure:nth-child(2) figcaption,
.small_photo figure:nth-child(3) figcaption {
	margin: 0 auto;
	float: none;
}

/* Виды обуви, картинки на главной странице--------------------------------------------------------------- */
.products_types figure {
	float: none;
	margin: 10px auto;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background-color: rgb(56, 56, 56);
	min-height: 150px;
}

.phone_number {
	width: 80%;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
}
.phone_number,
.footer_wrapper {
	float: none;
	clear: both;
}
.fb {
	float: right;
	width: 40px;
	padding-top: 20px;
}
.footer_num {
	width: auto;	
	float: left;
	padding-top: 20px;
	margin-left: 15px;
}
.footer_num p {
	color: rgb(238, 238, 238);
	font-size: 16px;
	display: inline-block;
}

/* Каталог товаров-------------------------------------------------------------------------------*/
.kat section aside {
	width: 100%;
	float: none;
	background-color: #555;
}
.catalog {
	padding-left: 0;
	width: 100%;
	float: none;
}

/* Страница "Где купить" -------------------------------------------------------------------------------*/

.where_to_buy {
	height: auto;
}
.where_to_buy figure {
	float: none;
	width: 355px;
	margin: 10px auto;
	border: 1px solid rgb(239,239,239);
	padding: 0 0 20px 0;
}

/* Отдельная новость -------------------------------------------------------------------------------*/

.separate_news img{
	float: none;
	width: 100%;
}
.separate_news h2 {
	font-size: 32px;
	line-height: 100%;
}
.separate_news {
	padding: 10px;
}

/* Описание брендов -------------------------------------------------------------------------------*/
.brand_description article:last-child {
	margin-bottom: 10px;
	padding: 15px;
}

